/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        lang: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RCTRL &kp SPACE>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
&trans  &kp Q  &kp W      &kp E                 &kp R                  &kp T                   &kp Y        &kp U                        &kp I      &kp O         &kp P     &trans
&trans  &kp A  &kp S      &kp D                 &kp F                  &kp G                   &kp H        &kp J                        &kp K      &kp L         &kp SEMI  &trans
&trans  &kp Z  &kp X      &kp C                 &kp V                  &kp B                   &kp N        &kp M                        &kp COMMA  &kp DOT       &kp FSLH  &trans
               &kp LCTRL  &mt RIGHT_ALT ESCAPE  &mt RIGHT_COMMAND TAB  &mt LEFT_SHIFT SPACE    &lt 1 ENTER  &mt RIGHT_COMMAND BACKSPACE  &lang      &mt RCTRL F5
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp N1     &kp N2     &kp N3   &kp N4            &kp N5               &kp N6     &kp N7          &kp N8        &kp N9          &kp N0           &trans
&trans  &kp MINUS  &kp EQUAL  &kp SQT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp COLON  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp PIPE   &kp GRAVE  &trans   &trans            &trans               &trans     &trans          &trans        &trans          &trans           &trans
                   &trans     &trans   &trans            &kp SPACE            &trans     &trans          &trans        &trans
            >;
        };
    };
};
